.side-bar
  .side-bar__user
    .side-bar__user__box
      %p.side-bar__user__box--name
        そうたけ
      %ul.side-bar__user__box__menu
        = link_to "#" do
          %li.side-bar__user__box__menu__list
            = icon('fas', 'edit', class: "side-bar__user__box__menu__list--icon")
        = link_to "#" do
          %li.side-bar__user__box__menu__list
            = icon('fas', 'cog', class: "side-bar__user__box__menu__list--icon")
  .side-bar__group
    .side-bar__group__box
      .side-bar__group__box--name
        techcamp
      .side-bar__group__box--status
        まだメッセージがありません
    .side-bar__group__box
      .side-bar__group__box--name
        techcamp
      .side-bar__group__box--status
        まだメッセージがありません
    .side-bar__group__box
      .side-bar__group__box--name
        techcamp
      .side-bar__group__box--status
        まだメッセージがありません
    .side-bar__group__box
      .side-bar__group__box--name
        techcamp
      .side-bar__group__box--status
        まだメッセージがありません
    .side-bar__group__box
      .side-bar__group__box--name
        techcamp
      .side-bar__group__box--status
        まだメッセージがありません